<router-outlet></router-outlet>


<!-- ng-template start -->
<!-- normal div -->
 <div class="main">
<div class="box1">

<div class="id1"> <h2>ng-template</h2>
<p>normal div</p>
<div *ngIf="sayHello" class="hello-world">Hello world</div>
<!-- ng-template div -->
<h5 class="p1">Using ng-template</h5>
<ng-template> ng-template section </ng-template>
<ng-template [ngIf]="sayHello">
    <div class="hello-world">Hello world</div>
    <div class="hello-world">welcome to the page</div>
</ng-template>
<ng-template *ngIf="sayHello" class="hello-world">Hello world 2</ng-template>
<ng-template [ngIf]="sayHello">
    <ng-template>Hello Wolrd !!!!!!!!!</ng-template>
</ng-template>

<ng-template [ngIf]="sayHello" class="hello-world">Hello world 3</ng-template>
<div></div>
<ng-template *ngIf="sayHello then hello" class="hello-world"></ng-template>
<ng-template #hello class="hello-world">Hello world 4</ng-template>
</div>

</div>
<div class="box2">
  <p>    As the name suggests the ng-template is a template element that Angular uses with structural directives
          ([ngIf], [ngFor], [ngSwitch] and custom directives).<br/></p>
         <p>These template elements only work in the presence of structural directives. Angular wraps the host
          element (to which the directive is applied) inside ng-template and consumes the ng-template in the
          finished DOM by replacing it with diagnostic comments.</p>
</div>
</div>
<!-- ng-template end -->


<!--  ng-container start  -->
<div class="main1">
<div class="box1">
<div class="id2"> <h2>ng-container</h2>
<!-- Normal div -->
    <div *ngFor="let item of items">
        <div *ngIf="item.id">{{item.name}}</div>
    </div>
    <br/>
    <!-- Using ng-container  -->
    <h5 class="p1">Using ng-container</h5>
    <ng-container *ngFor="let item of items">
      <div *ngIf="item.id">{{item.name}}</div>
    </ng-container>
</div>

</div>
<div class="box3">
  <p>   The Angular ng-container is a grouping element that doesn't interfere with styles or layout because Angular doesn't put it in the DOM.
         We should use ng-container when we just want to apply multiple structural directives without introducing any extra element in our DOM.</p>
</div>
</div>
<!--  ng-container end  -->


 <!-- ng-content start  -->
<div class="main2">
<div class="box1">

<div class="id3"> <h2>ng-content</h2>
  <app-project-content>
      <div>Welcome to the ng-content</div>
      <div>My first project</div>
  </app-project-content>
  

  <app-multi-content>
      <h4>Welcome to multiple content projection</h4>
      <div>Hello world...</div>
      <span>This is a footer1...</span><br>
      <div class="tag">Using ng content</div>
  </app-multi-content>
</div>
</div>
<div class="box4">
  <p>   The ng-content tag is used for content projection. 
  It is basically a placeholder to hold the dynamic content until it is parsed. 
  Once the template is parsed, Angular replaces the tag with content.</p>
  <p>You use the ng-content tag as a placeholder for that dynamic content,
   then when the template is parsed Angular will replace that placeholder tag with your content.</p>
</div>
</div>
<!--  ng-content end  -->


<!--*ngTemplateOutlet start-->

<div class="main3">
<div class="box1">
<div class="id4"> <h2>*ngTemplateOutlet</h2>
<ng-template #greet><span>Hello</span></ng-template>
   <ng-container *ngTemplateOutlet="greet"></ng-container><br/>
   <ng-container *ngTemplateOutlet="hello"></ng-container>
<br/>

<ng-template #customfooter>
    <div class="custom-class">Footer Content Here...</div>
</ng-template>
    <app-project-content [footertemplate]="customfooter"></app-project-content>
</div>
</div>
<div class="box5">
  <p>   ngTemplateOutlet is a directive. 
  It instantiates a template dynamically using a template 
    reference and context object as parameters.</p>
  <p>The template does not render itself.
   We must use a structural directive to render it. 
   That is what ngTemplateOutlet does</p>
<p>We pass the Template Reference to the ngTemplateOutlet directive. 
It renders the template. Any inner content that ngTemplateOutlet 
    encloses will not be rendered.</p>
</div>
</div>

<!--*ngTemplateOutlet end-->