.id1{
    width: 300px;
    height: 250px;
    border:1px solid black;
   border-width: thin;
    margin: auto;
}
.id2{
    margin-top: 10px;
    width: 300px;
    height: 220px;
    border:1px solid black;
   border-width: thin;
   margin-left:515px;
}
.p1{
      text-decoration: underline;     
}
.id3{
    margin-top: 10px;
    width: 300px;
    height: 290px;
    border:1px solid black;
   border-width: thin;
    margin-left:515px;
}
.id4{
    margin-top: 10px;
    width: 300px;
    height: 250px;
    border:1px solid black;
   border-width: thin;
    margin-left:515px;
}